
  {% with request.resolver_match.view_name as view_name %}
  <div class="row my-3">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a 
          class="nav-link {% if view_name == 'deposit:deposits' %}active{% endif %}"
          href="{% url 'deposit:deposits' %}">
          Все депозиты
        </a>
      </li>
      <li class="nav-item">
        <a 
           class="nav-link {% if view_name == 'deposit:deposits_pending' %}active{% endif %}"
           href="{% url 'deposit:deposits_pending' %}">
          Неподтвержденные депозиты
        </a>
      </li>
    </ul>
  </div>
  {% endwith %}
