{% extends 'base.html' %}

{% block title %}Статус депозита{% endblock %}
{% block content %}

      <div class="col-md-3">
        <div class="card">
          <div class="card-header">
            <div class="card-body">
              {% if deposit %}
                Ваш депозит № {{deposit.id}}:<br>
                <b>Сумма:</b> {{deposit.pay_sum}} AZN<br>
                <b>Статус</b>: {{deposit.status}}<br>
                <b>Чек: </b>

              {% else %}
                Депозит с таким идентификатором не найден
              {% endif %}
              {% if deposit.pay_screen %}

            <img class="img-thumbnail"  src="/media/{{deposit.pay_screen}}" width="200" height="400">
              {% else %}
              Отсутствует
              {% endif %}


            </div>

        </div>
      </div>
    </div>
{% endblock %}

