{% extends 'base.html' %}
{% block title %}Статус депозита{% endblock %}
{% block content %}

      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <div class="card-body">
              {% if deposit %}
                Ваш депозит № {{deposit.id}}:<br>
                <b>Сумма:</b> {{deposit.pay_sum}} AZN<br>
                <b>Статус</b>: {{deposit.status}}
                <b>Чек:</b>: <br>
                <img class="card-img my-2" src="/media/{{deposit.pay_screen}}">

              {% else %}
                Депозит с таким идентификатором не найден
              {% endif %}

            </div>
        </div>
      </div>
    </div>
{% endblock %}

