{% extends 'base.html' %}
{% block title %}Оплата{% endblock %}
{% block content %}
      <div class="col-md-8 p-5">
        <div class="card">
          <div class="card-header">
            {{ hello }}
            <div class="card-body">
                <p><b>Телефон:</b> {{ phone }}</p>
                <p><b>Сумма:</b> {{ pay }} AZN</p>
            </div>
              <div class="d-flex justify-content-around">
                  <a href="{% url 'deposit:index'  %}"><button class="btn btn-warning">Отменить</button></a>
                  <button type="submit" class="btn btn-success">
                    Подтвердить
                  </button>
              </div>
              {{form}}
        </div>
      </div>
    </div>


{% endblock %}

