{% extends 'base.html' %}
{% block title %}Оплата{% endblock %}
{% block content %}
      <div class="col-md-4 p-5">
        <div class="card">
          <div class="card-header">
            {{ hello }}
            <div class="card-body">
                <p><b>Подтвердите введенные данные:</p>

            </div>
                {% if form.errors %}
                    Есть ошибки
                {% endif %}
               <form method="get" enctype="multipart/form-data" action="{% url 'deposit:created' %}">
                        {% csrf_token %}
                        {% include 'includes/form_fields.html' %}
              <div class="d-flex justify-content-around">
                  <a href="{% url 'deposit:index'  %}">Отменить</a>
                  <button type="submit" class="btn btn-primary">
                       Далее
                  </button>
              </div>
        </div>
      </div>
    </div>


{% endblock %}

