{% extends 'base.html' %}
{% block title %}Оплата{% endblock %}
{% block content %}

      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            Депозит создан
              {% csrf_token %}
            <div class="card-body">
                Ваш уникальный идентификатор:<br>
                {{uid}}<br><br>
                Вы можете отследить статус вашего платежа здесь:<br>
                <a href="{% url 'deposit:status' uid %}">Статус платежа</a>
            </div>


              <form method="post" enctype="multipart/form-data" action="{% url 'deposit:created' %}">
                        {% csrf_token %}
                        {% for field in form %}
                            {{ field }}


                        {% endfor %}
                <br>
                  <div>
                  {% if pay_screen %}
                  <b>Прикреплен чек:</b> {{ pay_screen }}
                  {% endif %}
                   </div>
              <div class="d-flex justify-content-around">

                  {% if pay_screen %}
                  <button type="submit" class="btn btn-primary">
                       Удалить или Прикрепить другой чек
                  </button>
                  {% else %}
                  <button type="submit" class="btn btn-primary">
                       Прикрепить чек
                  </button>
                  {% endif %}
              </div>

        </div>
      </div>
    </div>
{% endblock %}

