{% extends 'base.html' %}
{% block title %}Оплата{% endblock %}
{% block content %}

      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            Депозит создан
              {% csrf_token %}
            <div class="card-body">
                Ваш уникальный идентификатор:<br>
                {{uid}}<br><br>
                Вы можете отследить статус вашего платежа здесь:<br>
                <a href="{% url 'deposit:status' uid %}">Статус платежа</a>
            </div>

              <form method="post" enctype="multipart/form-data" action="{% url 'deposit:created' %}">
                        {% csrf_token %}

                        {% for field in form %}

                            {% if not field.is_hidden %}

                            {% endif %}
                                {{ field }}

                            {% if not field.is_hidden %}
                                    <br>
                                    <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
                                        {{ field.help_text|safe }}
                                    </small>
                                    <br><br>

                            {% endif %}

                        {% endfor %}




                  <br>
              <div class="d-flex justify-content-around">

                  {% if pay_screen %}
                  <button type="submit" class="btn btn-primary">
                       Сохранить
                  </button>
                  {% else %}
                  <button type="submit" class="btn btn-primary">
                       Сохранить
                  </button>
                  {% endif %}
              </div>

        </div>
      </div>
    </div>
{% endblock %}

