{% extends 'base.html' %}
{% block title %}Редактирование депозита{% endblock %}


{% block content %}
{% include 'includes/operator_menu.html' %}
  <div class="d-flex p-3 col-12">
    <div class="p-2 bg-light col-4">
        <p>Редактирование депозита № {{deposit.id}}.<br>Создан:  {{deposit.register_time}}. Последнее изменение: {{deposit.change_time}}.</p>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data" action="{% url 'deposit:deposit_edit'  deposit.id %}">
              {% csrf_token %}
              {% include 'includes/form_fields.html' %}
              <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">
                  Редактировать
                </button>
              </div>
            </form>
        </div>
        <div class="row">
          <span class="col-6">
            {% if deposit.pay_screen %}
            <p>Чек отправителя:</p>
            <img class="img-thumbnail"  src="/media/{{deposit.pay_screen}}" width="300" height="800">
          {% else %}
            Чек отправителя отсутствует
          {% endif %}
          </span>
          <span class="col-6">
          {% if deposit.confirmed_incoming %}
            <p>Наш чек:</p>
            <img class="img-thumbnail"  src="/media/{{deposit.confirmed_incoming.image}}" width="300" height="800">
          {% else %}
            Наш чек отсутствует
          {% endif %}
          </span>
        </div>
    </div>

  <span class="col-8 p-2">
    {% include 'includes/paginator.html' %}

    <table class="table table-sm table-light">
     <thead>
       <th>id</th>
       <th class="centered">Дата регистрации</th>
       <th>Дата на чеке</th>
       <th>Получатель</th>
       <th>Отправитель</th>
       <th>Сумма</th>

       <th>Транзакция с чека</th>

       <th>Чек</th>
     </thead>
     {% for incoming in  page_obj %}

     <tr>
        <td>{{ incoming.id }}</td>
        <td>{{ incoming.register_date|date:"d.m.Y H:i" }}</td>
        <td>{{ incoming.response_date|date:"d.m.Y H:i" }}</td>
        <td>{{ incoming.recipient }}</td>
        <td>{{ incoming.sender }}</td>
        <td >{{ incoming.pay }}</td>
        <td>{{ incoming.transaction }}</td>

        <td><a href="{{ MEDIA_URL }}{{ incoming.image.url }}">Чек</a></td>
     </tr>
     {% endfor %}
    </table>
    {% include 'includes/paginator.html' %}
  </span>

  </div>



{% endblock %}


