{% extends 'base.html' %}
{% block title %}Оплата{% endblock %}
{% block content %}

      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            {{ hello }}

              <div class="card-body">
                    <form method="post" enctype="multipart/form-data" action="{% url 'deposit:confirm' %}">
                                    {% csrf_token %}
                        {% include 'includes/form_fields.html' %}
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary">
                              Далее
                            </button>
                        </div>
                    </form>
            </div>
        </div>
      </div>
    </div>
{% endblock %}

